
@{
    ViewBag.Title = "Add";

}

<h2>Hôm nay có sản phẩm gì mới không?</h2>
<form action="/Sanpham/Create" method="post">

    <label for="ProductName">ProductName:</label>
    <input type="text" name="ProductName" value="" />
    <label for="Description">Description:</label>
    <input type="text" name="Description" value="" />
    <label for="Price">Price:</label>
    <input type="text" name="Price" value="" />
    <label for="StockQuantity">StockQuantity:</label>
    <input type="text" name="StockQuantity" value="" />
    <p>

    </p>
    <label for="Image">Image:</label>
    <input type="text" name="Image" value="" />
    <label for="CategoryID">CategoryID:</label>
    <input type="text" name="CategoryID" value="" />
    <input type="submit" name="Submit" value="Thêm mới" />
  

</form>

