@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">113</h1>
        <p class="lead">Sau đây là top 4 hoa của đớ - Sở hữu gương mặt triệu triệu vạn vạn người meeeee</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-3" aria-labelledby="Hiền">
            <h2 id="Hiền">Nguyễn Thúy Hiền</h2>
            <p>
                Tôi là Hiền tôi là sinh viên năm 2 trường DHXD, tôi yêu trường, tôi yêu tất cả mọi thứ thuộc về HUCE

            </p>
            <p><a class="btn btn-outline-dark" href="https://www.facebook.com/homneidep.troi?comment_id=Y29tbWVudDozNDQyNzE5MDEzMDQzNjFfMjc2MjQxMjA4NzA5Mzc4&locale=vi_VN">Learn more &raquo;</a></p>
            <img src="https://scontent-hkg1-1.xx.fbcdn.net/v/t39.30808-6/386342140_344271891304362_8682842359861227656_n.jpg?stp=dst-jpg_p526x296&_nc_cat=109&ccb=1-7&_nc_sid=f727a1&_nc_ohc=DxhEPvI-dAwQ7kNvgF_Prwx&_nc_ht=scontent-hkg1-1.xx&oh=00_AYBlCUOWVWeRwlYcL5sVFVCDiZV0S63Mym8bpDUFFWch3Q&oe=66BED4F9" width="280" height="230" alt="Nguyen Thuy Hien"/>
        </section>
        <section class="col-md-3" aria-labelledby="Phương">
            <h2 id="Phương">Bùi Minh Phương</h2>
            <p>
                Tôi là Phương tôi là sinh viên năm 3 trường DHXD, tôi yêu trường, tôi yêu tất cả mọi thứ thuộc về HUCE
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.facebook.com/phuong.buiminh.1238?locale=vi_VN">Learn more &raquo;</a></p>
            <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t39.30808-1/427904900_1856950234820289_8052181449490398624_n.jpg?stp=dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=NXRcsb30XUUQ7kNvgFd-t0W&_nc_ht=scontent-hkg4-1.xx&oh=00_AYBGT0ol09o-B0xskv2_Xj9oF5xOteI8-GRARA2r6rL5vQ&oe=66BEB6E1" width="280" height="230" alt="Bui Minh Phuong" />

        </section>

        <section class="col-md-3" aria-labelledby="Quỳnh">
            <h2 id="Quynh">Phạm Diễm Quỳnh</h2>
            <p>
                Tôi là Quỳnh tôi là sinh viên năm 4 trường DHXD, tôi yêu trường, tôi yêu tất cả mọi thứ thuộc về HUCE
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.facebook.com/profile.php?id=100032045658667&locale=vi_VN">Learn more &raquo;</a></p>
            <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t39.30808-1/334585113_585978889864010_4730439231098192445_n.jpg?stp=dst-jpg_p200x200&_nc_cat=110&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=eBCc2MspATgQ7kNvgFYDTSV&_nc_ht=scontent-hkg4-1.xx&oh=00_AYCALu9Z8sTTl8hxZP6jHqkUF0NeiCNB8T5KqO2c0rzQXw&oe=66BEB9BD" width="280" height="230" alt="Pham Diem Quynh" />

        </section>
        <section class="col-md-3" aria-labelledby="Cham">
            <h2 id="Cham">Nguyễn Thị Châm</h2>
            <p>
                Tôi là Châm tôi là sinh viên năm 3 trường DHXD, tôi yêu trường, tôi yêu tất cả mọi thứ thuộc về HUCE
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.facebook.com/profile.php?id=100051254302906&locale=vi_VN">Learn more &raquo;</a></p>
            <img src="https://scontent-hkg4-2.xx.fbcdn.net/v/t39.30808-1/450197491_1013892006995933_2669299789215555358_n.jpg?stp=dst-jpg_p200x200&_nc_cat=111&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=ZElaNHLtZDEQ7kNvgFm--j0&_nc_ht=scontent-hkg4-2.xx&oh=00_AYARl3qeIOlBOoOmfdqrw90ZnR8Po2swMenXGint6p1qOw&oe=66BEBEB3" width="280" height="230" alt="Nguyen Thi Cham"/>
        </section>
    </div>
</main>